body{
	font-size: 16px;
}
/**Header**/
#header-nav{background-color: #818181;
	border-radius: 0;
	border: 0;
}
	
	.navbar-brand h1{
		color: #000000;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.8em;

		}

	.navbar-brand  a:hover, .navbar-brand a:focus{
		text-decoration: none;}
	

#nav-list{margin-top: 10px;}
#nav-list a{color: #000000;
			background-color: #FFFF00;
	text-align: center;}
#nav-list a:hover{background: #e7e7e7;}

.navbar-header button.navbar-toggle, .nav-header .icon-bar {
	background-color: aqua;
	border: 1px solid #000000;
}

.navbar-header button.navbar-toggle{clear: both;
	margin-top: -30px;}

#main-content h2{font-weight: bold;}

#main-content .chicken{border: 1px solid #000000;
		padding: 5px;
		background-color: #818181;
		margin-right: -20px;
		margin-left: -20px;}

.chicken h3{font-weight: bold;}
