	h1{background-color: aqua;
		text-align: center;}
	.row{width: 100%;
		 	}
		*{box-sizing: border-box;
			}
		section{	border: 1px solid black;
			width: 90%;
			height: 200px;
			padding: 5px;
			margin: 10px;
			left: 150px;
		background-color: pink;}
		.header1{
  overflow: none;
  text-align: center;
  border: 4px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  float: right;
  margin-right: 36px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}
	@media(min-width : 992px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4
	{	float: left;
		border: 1px solid black;
		margin: 10px;
		background-color: pink;}

		.col-lg-1 {
			width: 8.33%;
		}
		.col-lg-2{
			width: 16.66%;
		}
		.col-lg-3{
			width: 25%;
		}
		.col-lg-4{
			width: 33%;
		}
}
@media (min-width : 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3,.col-md-4,.col-md-5,.col-md-12
	{float: left;
		border: 1px solid black;
		margin: 5px;
		background-color: pink;}
		.col-md-1 {
			width: 8.33%;
		}
		.col-md-2{
			width: 16.66%;
		}
		.col-md-3{
			width: 25%;
		}
		.col-md-4{
			width: 33%;
		}
		.col-md-5{
			width: 41.66%;
		}
		.col-md-12{
			width:100%;}
}
@media (min-width : 0px) and (max-width: 767px) {
	.col-sm-12
	{float: left;
		border: 1px solid black;
		margin: 5px;
		background-color: pink;}
		.col-sm-12{width: 100%}
}
