	h1{background-color: aqua;
		text-align: center;
		font-size: 175%;}
	h2{position: relative;
		float: right;
		border: 1px solid black;
		width: 120px;
		font-size: 125%;}
		h2.first{background-color: green;}
		h2.second{background-color: yellow;}
		h2.third{background-color: red;}
		.row{width: 100%;}
		*{box-sizing: border-box;}
		body{font-family: arial, san-serif ,Helvetica;}
		p{clear:both;
			}
	@media(min-width : 992px){
	.col-lg-1	{	float: left;
		border: 1px solid black;
		padding:5px;
		margin: 10px;
		background-color: pink;
		}

		.col-lg-1{width: 30%}
}
@media (min-width : 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2{float: left;
		border: 1px solid black;
		padding:5px;
		margin: 5px;
		background-color: pink;}
		.col-md-1 {
			width: 48.50%;
		}
		.col-md-2{
			width: 100%;
		}
}
@media (min-width : 0px) and (max-width: 767px) {
	.col-sm-1
	{float: left;
		border: 1px solid black;
		padding:5px;
		margin: 5px;
		background-color: pink;}
		.col-sm-1{width: 100%}
}
